/* #page-heading{
    text-align: center;
    color: grey;
    margin-top: 25px;
}

.dropdown:focus option:first-of-type
{
	display: none;
} */

  
body{
    background-color: lightgrey;
}

/* defining the borders TODO app div contents */

.main{
    margin-left: 25%;
    height: auto;
    width: 50%;
    background-color: white;
}

/* styling the title todo app */

.title{
    text-align: center;
    color: grey;
    font-weight: 100;
    font-family: monospace;
}

/* styling the labels of the form */

.headings{
    color: grey;
    font-weight: 200;
    font-family: sans-serif;
}
.desc{
    width:100%;
    border: 0;
}

/* defining the line boundaries */

.line{
    width: 100%;
    border-bottom: 1px solid lightgray;
}

/* adding color to the button */

.add{
    background-color: chocolate;
}
.del{
    margin-left: 0;
    background-color: crimson;
}

/* arranging and styling the task list */

.task-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.task-elements{
    margin-right: 5px;
}

/* styling the right hand side category tag */

.cat-tag{
    height:30px;
    width:70px;
    background-color:crimson;
    margin-right: 5px;
}

/* defining size to the date */
.date{
    font-size: 10px;
}
.rt-margin{
    margin-right: 2px;
}

/* arranging the buttons and category and due date content with the help of flex */

.arrange{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.arrange1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* defining the line between category and due date */
.line-right{
    height: 100%;
    border-right: 1px solid lightgray;
}


/* defining width of category and due date input boxes */

.cat{
    width: 90%;
    margin-left: 5px;
}

.cat1{
    margin-right: 5px;
}